.product-card-container {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ccc;
    &:hover {
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
      .image-product{
        transform: scale(1.05);
        transition: all 0.6s ease-in-out;
      }
      .container-title{
        opacity: 100%;
      }
    }
}
.container-title{
  position: absolute;
  height: 260px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items:end;
  opacity: 0%;
  .title-buy{
    position: absolute;
    background-color: #62B4FF;
    padding: 12px 24px;
    border-radius: 12px;
    color: white;
    cursor: pointer;
  }

}

