.cart-icon-header {
    color: #000;
    transition: all 500ms ease-in-out;
    &:after {
        position: absolute;
        bottom: 100%;
        width: 14px;
        height: 8px;
        content: "";
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px;
        border-bottom: 0px;
        border: 2px solid #000;
        transition: all 300ms ease;
    }
}

.cart-item {
    &:hover {
        .cart-icon-header {
            background: #7ee68f;
            color: #000;
            &:after {
                height: 10px;
            }
        }
    }
}