
.top-product-carousel-items.react-multi-carousel-item--active {
    margin-right: 8px;
    margin-left: 8px;
}

.banner-carousel-items.react-multi-carousel-item--active{
    /* margin-right: 8px; */
    /* margin-left: 8px; */


}


.h1{
    color: blue;
}